.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.imageAndText {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #eee;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 400px;
    max-height: 100px;
    text-align: center;
}

.imageAndText img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    z-index: 2;
    pointer-events: none;
    cursor: pointer;

}

.text:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.2s ease-in-out;
    z-index: 1;
    border-radius: 5px;
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px;
    background-color: white;
    overflow: hidden;
    max-width: 400px;
    max-height: 100px;
    text-align: center;
    flex-direction: column;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

.name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 20px;
    text-align: center;
    flex-direction: column;
}

.messageText {
    font-size: 14px;
    line-height: 18px;
    color: #666;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}

.time {
    font-size: 12px;
    line-height: 16px;
    color: #999;
    margin: 0;
    padding: 0;
    text-align: right;
    word-wrap: break-word;
}