.sendForm {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 400px;
    max-height: 100px;
    text-align: center;
    background-color: #eee;
    border-radius: 5px;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    border: 1px solid #ccc;
    margin: 50px auto;
}

.textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 60px;
    text-align: center;
}

.button {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #06c;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    pointer-events: all;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 2;
    transition: opacity 0.2s ease-in-out;
    max-width: 400px;
    max-height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.button:hover {
    display: flex;
    pointer-events: all;
    cursor: pointer;
    color: #242424;
    text-decoration: underline;
}

.button:active {
    background: var(--color);
    color: rebeccapurple;
    text-decoration: none;
    opacity: 1;
    display: flex;
    pointer-events: all;
    cursor: pointer;
}
